body {
    background-color: #ffb38188;
    color: #3f3f3f;
}
.botao{
    background-color: rgb(241, 221, 212);
}
.menu{
    background-color: rgba(212, 72, 7, 0.349);
}
.rodape{
    background-color: rgb(255, 154, 108);
}
